<div class="main">

  <h1>BUSCAR LETRAS</h1>

  <div class="inputs">
    <label>Artista:</label>
    <input [value]="artist" name="artist" [(ngModel)]="artist">
  </div>

  <div class="inputs">
    <label>Música:</label>
    <input [value]="music" name="music" [(ngModel)]="music">
  </div>

  <div class="button">
    <button [disabled]="!artist" (click)="findLyrics()">BUSCAR</button>
  </div>

  <div class="button">
    <button [disabled]="enableButton" (click)="translate()">TRADUZIR</button>
  </div>

</div>

<body>
  <div class="main">
  <div>
    <h3>{{artistMusic}}</h3>
  </div>

  <div>
    <img class={{invisible}} src={{img}}>
  </div>

  <div>
    <a href={{link}}>{{textLink}}</a>
  </div>

  <div>
    <h2>{{titleMusic}}</h2>
  </div>

  <div class="lyrics">
    <pre class="lyrics2">{{lyricMusic}}</pre>
    <pre>{{translatedMusic2}}</pre>
  </div>
</div>
</body>
