.main{
  display: grid;
  justify-content: space-around;
}

.main2{
  display: grid;
  justify-content: space-around;
  background-color: black;
  color: white;
}

.fundo{
  background-image: url("https://images.vexels.com/media/users/3/1655/raw/90be537fd1a7d34a849c9aec36f76b33-fundos-musicais.jpg");

}

.haha{
  margin-top: 15px;
  text-align: center;
}

.body{
  color: gray;
}


.input{
  width: 150px;
}

.inputs{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.button{
  display: grid;
}

.button2{
  margin-left: 5px;
  height: 27px;
  font-size: 14px;
  padding-top: 3px;
}

.lyrics{
  margin-top: 10px;
  display: flex;
}

.links{
  margin-top: 2px;
  display: flex;
}

.lyrics2{
  margin-right: 15px;
  margin-top: 10px;
}

.img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 120px;
  border: 3px solid orange;
}

.textMusic{
  color: orange;
}

.textArtist{
  margin-right: 80px;
  color: white;
  text-decoration: none;
}

#artist:hover{
  color: cornflowerblue;
}

.invisible{
  display: none;
}

.artist{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80%;
  width: 400px;
  background-color: black;
  display: flex;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 50px;
  align-content: center;
}

.artist2{
  padding-top: 50px;
}

.artist3{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
