.main{
  display: grid;
  justify-content: space-around;
}

.inputs{
  display: inline-grid;
}

.button{
  display: inline-grid;
  margin-top: 16px;
}

.lyrics{
  display: flex;
}

.lyrics2{
  margin-right: 15px;
}

.img{
  width: 200px;
  height: 200px;
}

.invisible{
  display: none;
}

