.main{
  display: grid;
  justify-content: space-around;
}

.main2{
  display: grid;
  justify-content: space-around;
  background-color: #03223f;
  color: white;
}

.fundo{
  background-image: url("https://st.depositphotos.com/1757583/3613/i/600/depositphotos_36139907-stock-photo-music-background.jpg");
}

.background{
  background-color: #03223f;
  height: 655px;
}

.haha{
  margin-top: 15px;
  text-align: center;
  color: #010d23;
  -webkit-text-stroke: 2px white;
}

.body{
  color: gray;
}


.input{
  width: 150px;
}

.inputs{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.button{
  display: grid;
}

.button2{
  margin-left: 5px;
  height: 27px;
  font-size: 14px;
  padding-top: 3px;
}

.lyrics{
  margin-top: 10px;
  display: flex;
}

.links{
  margin-top: 2px;
  display: flex;
}

.lyrics2{
  margin-right: 15px;
  margin-top: 10px;
}

.img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 120px;
  border: 3px solid #e19f41;
}

.textMusic{
  color: #e19f41;
}

.textArtist{
  margin-right: 80px;
  color: white;
  text-decoration: none;
}

#artist:hover{
  color: cornflowerblue;
}

.invisible{
  display: none;
}

.artist{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80%;
  width: 400px;
  background-color: #010d23;
  display: flex;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 50px;
  align-content: center;
}

.artist2{
  padding-top: 50px;
}

.artist3{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
